<p-toast position="top-right"></p-toast>
<form [formGroup]="form" (ngSubmit)="saveEmpleado()">
    <div class="p-fluid col-12">
        <h5>Empleado</h5>

        <br>
        <div class="field">
            <span class="p-float-label">
                <input pInputText formControlName="nombre" id="nombre" autocomplete="off" type="text" />
                <label for="float-input">Nombre Completo</label>
            </span>
        </div>

        <br>
        <div class="field">
            <span class="p-float-label">
                <input pInputText formControlName="dpi" id="dpi" autocomplete="off" type="text" />
                <label for="float-input">DPI</label>
            </span>
        </div>

        <br>
        <div class="field">
            <span class="p-float-label">
                <input pInputText formControlName="cantidadHijos" id="cantidadHijos" autocomplete="off" type="text" />
                <label for="float-input">Cantidad De Hijos</label>
            </span>
        </div>

        <br>
        <div class="field">
            <span class="p-float-label">
                <input pInputText formControlName="salario" id="salario" autocomplete="off" type="text" />
                <label for="float-input">Salario</label>
            </span>
        </div>

        <br>
        <div class="field">
            <span class="p-float-label">
                <input pInputText formControlName="bonoDecreto" id="bonoDecreto" autocomplete="off" type="text" />
                <label for="float-input">Bono Decreto</label>
            </span>
        </div>
        <br>
        <button pButton pRipple type="button" label="Guardar" [disabled]="form.invalid" type="submit" icon="pi pi-save"
        class="mr-2 mb-2"></button>
    </div>
</form>